.app.dark {
  --bg-color: #000034;
  --inverted-bg-color: #fff;
  --primary-color: #00ff01;
  --secondary-color: #04ff04;
  --inverted-primary-color: #011c73;
  --inverted-secondary-color: #4874ff;
}
