:root {
  --bg-color: #fff;
  --inverted-bg-color: #000034;
  --primary-color: #001f98;
  --secondary-color: #4874ff;
  --inverted-primary-color: #00ff01;
  --inverted-secondary-color: #04ff04;
  //skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  //code
  --code-bg: #fff;
}
